#{{inputId}} .arrow-button-group{
    cursor:default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlysupported by Chrome and Opera */
}

#{{inputId}} .arrow-button{
    color:{{color}};
}

#{{inputId}} .arrow-button-group{
    font-size:{{size}}
}

#{{inputId}} .arrow-button:hover{
    cursor:pointer;
}

#{{inputId}} .arrow-button:active{
    cursor:pointer;
    color:{{colorClick}};
}
