.arrow-button-group{
    cursor:default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currentlysupported by Chrome and Opera */
}

.arrow-button-group .arrow-button{
    color:rgb(85,85,85);
}

.arrow-button-group{
    font-size:100%
}

.arrow-button-group .arrow-button:hover{
    cursor:pointer;
}

.arrow-button-group .arrow-button:active{
    cursor:pointer;
    color:rgb(123,123,123);
}
